.header-container
    .nav-wrap.clearfix.cont-width
        .logo-area
            a(href='/')
                img(src='/views/img/common/logo.png' alt='로고')
        ul.gnb-area
            li
                a(href='/map/community/communityMap.hs') 회사소개
                ul
                    li
                        a(href='/map/community/communityMap.hs') 회사소개
                    li
                        a(href='/map/townInfo/townInfo.hs') 연혁
                    li
                        a(href='/map/townInfo/townInfo.hs') 찾아오시는 길
            li
                a(href='/livinglab/livinglabList.hs') 임시 메뉴 1
            li
                a(href='/livinglab/livinglabList.hs') 임시 메뉴 2
            li
                a(href='/agenda/agendaList.hs') 시공실적
            li
                a(href='/livinglab/livinglabList.hs') 커뮤니티