doctype html
html(lang="en")
    head
        include ./template/script.pug
    body
        .wrapper
            include ./template/header.pug

            main
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
                h3 Welcome to CH
            footer
                h3 Bye~
            button Call
            script(src="/public/js/app.js")
        
            include ./template/footer.pug