doctype html
html(lang="en")
    head
        include ./template/script.pug
        link(rel='stylesheet' href='/views/css/sub/sub-common.css')
    body
        .wrapper
            .header-container
                include ./template/header.pug
            .banner-wrap
                .banner
                    .banner-bg
                        .banner-img
                        .banner-mask
                    .page-title
                        .breadcrumb
                            ul
                                li.home
                                    img(src="/views/img/common/breadcrumb_icon.svg" alt="breadcrumb")
                                li.arr
                                    img(src="/views/img/common/arrow_w.svg" alt="icon")
                                li 회사소개
                                li.arr
                                    img(src="/views/img/common/arrow_w.svg" alt="icon")
                                li 회사소개
                        .title 
                            h3 회사소개
            
            .body-container
                .info-wrap
                    
            script(src="/public/js/app.js")

            include ./template/footer.pug